@use "../css/skin" as *;
@use "../css/variables" as *;

.header {
    background: $gradient-soft;
    border-radius: 0px 0px 12px 12px;
    
    .header-wrap {
        background-image: url(../images/Symbol.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 523px 600px;
        padding-bottom: 30px;

        .header-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'group group' 'logo menu';
    
            .header-group {
                grid-area: group;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px;
                background: rgba(245, 245, 250, 0.2);
                
    // language conteiner
    
                &__language {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
    
                &__item,
                &__item--aboutpage {
                    padding: 5px 7px;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: $line-height;
                    letter-spacing: 1px;
                    color: white;
                    cursor: pointer;
    
                    &--aboutpage {
                        color: $color-grey-text;
                    }
        
                    &.active,
                    &:hover,
                    &--aboutpage.active,
                    &--aboutpage:hover {
                        background-color: $color-accent;
                        padding: 5px 7px;
                        border-radius: 8px;
                    }
                }
        
                .group__address, .group__social {
                    display: none;
                }
        
                .group__phone {
                    a {
                        color: white;
    
                        &:hover {
                            color: $color-active-activ;
                        }
                    }
    
                    &--aboutpage {
                        a{
                            color: $color-grey-text;
                        }
                    }
                }
            }
    
            .header-logo{
                grid-area: logo;
                padding-left: 15px;
    
                &__link {
                    display: none;
                }
            }
    
            .navbar {
                grid-area: menu;
                align-self: center;
                justify-self: end;
                padding-right: 15px;
    
                .nav {
                    display: none;
        
                    &.active {
                        display: flex;
                        flex-direction: column;
                    }
    
                    &__item.active {
                        position: relative;
    
                        a {
                            color: $color-accent;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                width: 76px;
                                height: 2px;
                                display: block;
                                margin-top: 5px;
                                top: 18px;
                                right: 38px;
                                background: $color-accent;
                                transition: width .2s ease;
                                -webkit-transition: width .2s ease;
                            
                                @media screen and (min-width: 768px) {
                                    top: 14px;
                                    right: 0;
                                }
                            }
                        }
                    }
        
                    &__link {
                        color: white;
                        font-weight: 700;
                        font-size: $font-size;
                        letter-spacing: 0.3px;
                        padding: 6px;
                        display: block;
                        transition: scale 0.1s;
                        cursor: pointer;
    
                        &--aboutpage {
                            color: $color-active-activ;
                        }
                    }
        
                    &__link:hover {
                        color: $color-accent;
                        transform: scale(1.01);
                        transition: all 1s;
                    }
                }
    
    // burger
                &__btn {
                    width: 32px;
                    height: 32px;
                    position: relative;
                    margin: 0;
                    transform: rotate(0deg);
                    transition: all .5s ease-in-out;
                    cursor: pointer;
        
                    &.active {
                        top: 15px;
                        left: 92px;
                    }
                    
                    &.active span {
                        &:nth-child(1) {
                            top: 14px;
                            left: 7px;
                            transform: rotate(135deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                            left: -30px;
                        }
                        &:nth-child(3) {
                            top: 14px;
                            left: 7px;
                            transform: rotate(-135deg);
                        }
                    }
            
                    &-row {
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 18px;
                        background-color: rgb(255, 255, 255);
                        opacity: 1;
                        left: 7px;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;
    
                        &--aboutpage {
                            background-color: $color-main;
                        }
            
                        &:nth-child(1) {
                            top: 9px;
                        }
                        &:nth-child(2) {
                            top: 15px;
                        }
                        &:nth-child(3) {
                            top: 21px;
                        }
                    }
                }
            }
        }
        
        .header-title {
            text-align: center;
    
            &__heading {
                color: white;
                font-size: 38px;
                font-weight: 700;
                line-height: $line-height;
                padding: 126px 0 159px;
            }
    
            &__scroll {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            &__link {
                background: url(../images/Scroll.png);
                display: block;
                width: 42px;
                height: 42px;
    
                &:hover {
                    background: url(../images/Scroll_hover.png);
                }
            }
        }
    }

    .header-bottom {
        padding-top: 30px;
    
        .introduction {
                
            .menu {
                display: flex;
                align-items: center;
                gap: $gap-md;
                overflow-x: scroll;
                padding-bottom: 30px;
                    
                &__link--active {
                    font-size: 30px;
                    font-weight: 700;
                    color: $color-grey-text;
                    white-space: nowrap;
                    background: $gradient-redtext;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
        
                &__link {
                    font-size: 30px;
                    font-weight: 700;
                    color: $color-grey-text;
                    white-space: nowrap;
                }
            }
        
            .introduction-block {
                border-top: 4px solid rgba(255, 255, 255, 0.30);
                
                &__title {
                    padding-top: 30px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 37px;
                    color: white;
                }
                
                &__text {
                    padding-top: 30px;
                    font-size: 19px;
                    line-height: 30px;
                    color: #ffffffc7;
                    padding-bottom: 30px;
                }
            }
        }
        
        .advantages {
            padding-bottom: 60px;
        
            &__block {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, auto);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                gap: $gap-md;
            }
        
            &__title {
                padding-bottom: 30px;
            }
        
            &__item {
                display: flex;
                flex-direction: column;
        
                &:hover {
                    transition: border-color 0.3s ease-in-out;
                    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.75);
                    border-radius: 8px;
                    padding: 5px;
                }
            }
        
            &__img {
        
                img {
                    background-color: white;
                    padding: 14px;
                    border-radius: 24px;
                }
            }
        
            &__heading {
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;
                color: #24A3FF;
                padding-top: 30px;
                padding-bottom: 15px;
            }
        
            &__text {
                font-size: $font-size;
                line-height: 26px;
                color: white;
            }
        }
    }
}
    .shadow {
        margin:0 20px;
        padding-bottom: 20px;
        position: relative;

        &::before,
        &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        background: #CACADB;
    }

        &::before{
        top:10px;
        width: 96%;
        background: #E7E7F2;
    }
}

.header-aboutpage {
    background: none;
    .header-wrap {
        background: none;
    }
}

@media screen and (min-width: 768px) {

    .header {
        .header-wrap {
            padding-top: 50px;
            background-size: 893px 1024px;
            .header-top {
                padding-left: 60px;
                padding-right: 60px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: 'group' 'logo' 'menu';
    
                .header-group {
                    justify-content: flex-start;
                    gap: 18px;
                    padding: 0;
                    background-color: transparent;
        
                    .group__address {
                        display: block;
                    }
    
                    &__address::after,
                    &__social::after,
                    &__phone::after {
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: -12px;
                        background-color: white;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }
        
                    &__social::after {
                        top: 9px;
                    }
    
                    &__phone::after {
                        top: 10px;
                    }
    
                    .group__social {
                        display: block;
                        position: relative;
                        font-size: 24px;
                        
                        a {
                            color: white;
    
                            &:hover {
                                color: $color-active-activ;
                            }
                        }
    
                        &--aboutpage {
                            a{
                                color: $color-grey-text;
                            }
                        }
                    }
            
                    &__phone,
                    .group__phone {
                        position: relative;
                        padding: 2px 0;
                    }
    
                    .group__address::after,
                    .group__social::after,
                    .group__phone::after {
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: -12px;
                        background-color: $color-grey-separator;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }
    
                    .group__social::after {
                        top: 9px;
                    }
    
                    .group__phone::after {
                        top: 8px;
                    }
                }
    
                .header-logo{
                    grid-area: logo;
                    width: 100%;
                    padding: 30px 0;
    
                    &__link--mobile {
                        display: none;
                    }
        
                    &__link {
                        display: block;
                    }
                }
    
                .navbar {
                    grid-area: menu;
                    justify-self: start;
                    padding-right: 0;
                    
                    .nav {
                        display: flex;
                        gap: $gap-ux;
    
                        &.active {
                            flex-direction: row;
                        }
            
                        &__link {
                            position: relative;
                            font-size: $font-size;
                            padding: 0;
    
                            &::after {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 2px;
                                display: block;
                                margin-top: 5px;
                                top: 14px;
                                right: 0;
                                background: $color-accent;
                                transition: width .2s ease;
                                -webkit-transition: width .2s ease;
                            }
                            
                            &:hover::after{
                                color: white;
                                width: 100%;
                            }
                        }
                    }
            
                    &__btn { 
                        display: none;
                    }
                }
            }
            
            .header-title {
                &__heading {
                    padding: 269px 0 417px;
                }
        
                // &__scroll {
                //     padding-bottom: 30px;
                // }
            }
        }

        .header-bottom {
            padding-top: 60px;
    
            .introduction {
                .menu {
                    padding-bottom: 60px;
                        
                    &__link--active,
                    &__link {
                        font-size: 38px;
                        line-height: 46px;
        
                        &:hover {
                            color: #F0145A;
                        }
                    }
                }
            
                .introduction-block {
        
                    &__title {
                        padding-top: 60px;
                        font-size: 30px;
                    }
                    
                    &__text {
                        padding-bottom: 60px;
                    }
                }
                
            }
        
            .advantages {
                &__title {
                    padding-bottom: 60px;
                }
        
                &__block {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: $gap;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .header {
        .header-wrap { 
            background-size: 697px 799px;
            .header-top {
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: 25px 25px;
                gap: 16px;
                grid-template-areas: 'logo group' 'logo menu';
                justify-items: end;
    
                .header-group {
                    justify-content: flex-end;
                }
    
                .header-logo{
                    align-self: center;
        
                    &__link {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
    
                .navbar {
                    padding-top: 16px;
                    justify-self: end;
                }
            }
    
            .header-title {
                &__heading {
                    padding: 245px 0 289px;
                }
            }
        }

        .header-bottom {
            .introduction {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                padding-bottom: 60px;
                
                .menu-wrap {
                    padding-right: 60px;
                }
        
                .menu {
                    flex-direction: column;
                    align-items: flex-end;
                    padding-bottom: 0;
                    overflow: hidden;
                }
            
                .introduction-block {
                    border-top: 0;
                    border-left: 4px solid rgba(255, 255, 255, 0.3);
                    padding-left: 60px;
                    
                    &__text {
                        padding-bottom: 0;
                    }
                }
                
            }
            
            .advantages {
                &__block {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .header {
        .header-wrap {
            .header-title {
                &__heading {
                    padding: 261px 0 305px;
                }
            }
        }
        .header-bottom {
            .introduction {
                padding: 0 120px 60px;
    
                .menu-wrap {
                    border-right: 4px solid rgba(255, 255, 255, 0.3);
                }
    
                .introduction-block { 
                    border-left: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .header { 

        .header-wrap {
            background-size: 872px 1000px;
            .header-top {
                padding-left: 160px;
                padding-right: 160px;
            }
    
            .header-title {
                &__heading {
                    padding: 361px 0 405px;
                }
            }
        }

        .introduction {
            padding: 0 140px 60px;
        }
    }
}