@use "../css/skin" as *;
@use "../css/variables" as *;

.section__title {
    font-size: 30px;
    font-weight: 700;
    background: $gradient-redtext-rev;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px) {
        font-size: 38px;
        line-height:46px;
    }
}

.section__link,
.section__heading {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section__link {
    color: $color-active;
    padding-bottom: 10px;

    &:hover {
        color: $color-active-activ;
    }
}

.section__heading {
    text-align: center;
    color: #323264;
}

.group__phone {
    font-weight: 700;
    white-space: nowrap;
}

.group__address {
    position: relative;
    color: $color-grey-text;
}

.team {
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;

    .slider-container {
        overflow: hidden;
        width: 100%;

        .slider {
            width: 300%;
            display: flex;

            .team-block{
                width: 33.3%;
                display: flex;
                flex-direction: column;
                background-color: $color-grey-bg;
                border-radius: 12px;
                
                &__img {
                    position: relative;
                    overflow: hidden;
                    height: 500px;
        
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
        
                &__info {
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                }
        
                &__text {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 37px;
                    background: $gradient-redtext-rev;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
        
                &__name {
                    padding-top: 30px;
                    font-weight: 700;
                    color: $color-grey-text;
                }
                &__post {
                    padding-top: 6px;
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            input[name="block"] {
                position: absolute;
                visibility: hidden;
            }

            & label {
                position: absolute;
                left: 50%;
                top: 98%;
                transform: translate(-50%, -50%);
                display: flex;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #24A3FF;
                opacity: 0.2;
                cursor: pointer;
                transition: all .4s ease-in-out;
            }
    
            #btn1 {
                left: 44%;
            }
            #btn3 {
                left: 56%;
            }
    
            #block1:checked ~ #btn1,
            #block2:checked ~ #btn2,
            #block3:checked ~ #btn3 {
                opacity: 1;
            }

            #block1:checked ~ .s1 {
            margin-left: 2px;
            }

            #block2:checked ~ .s1 {
            margin-left: -33.2%;
            }

            #block3:checked ~ .s1 {
            margin-left: -66.6%;
            }
        }
    }
}

.clients {
    
    &__heading {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    &__logo {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    &__logo--special {
        display: none;
    }
}

.blog {
    background-color: $color-grey-bg;
    padding-top: 30px;
    padding-bottom: 30px;

    &__heading {
        padding-bottom: 0;
    }

    &__img {
        img {
            border-radius: 8px 8px 0 0;
        }
    }

    &__content,
    &__item,
    &__preveiw {
        display: flex;
        flex-direction: column;
    }

    &__content {
        align-items: center;
        gap: $gap-md;
        padding-top: 30px;
    }
    
    &__item {
        border-radius: 8px;
        background-color: white;

        &:hover {
            transition: border-color 0.3s ease-in-out;
            box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.75);
            border-radius: 8px;
        }
    }

    &__preveiw {
        padding: 30px;
    }

    &__title {
        color: #24A3FF;
        font-weight: 700;
    }

    &__data {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 15px;
        color: $color-grey-text;
        padding: 15px 0;
        border-bottom: 4px solid $color-grey-separator;
    }

    &__text {
        padding-top: 15px;
        font-size: 14px;
        line-height: 22px;
    }
}
// popup 
.box {
    .call-back {
        color: #239cf1;
        position: fixed;
        right: 30px;
        bottom: 30px;
        background-color: $color-active;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: call-back 3s linear infinite;
        transition: all 200ms ease-out;
    
        .fa-solid {
            font-size: 30px;
            color: white;
        }
    }
    
    .footer-popup {
        display: none;
    
        &__container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    
        &__heading {
            font-size: 22px;
        }

        &__text {
            padding-top: 15px;
            padding-bottom: 50px;
        }
    
        &__contact-form {
            padding-bottom: 20px;
            
            & input[type="tel"] {
                color: $color-grey-text;
                font-family: Montserrat;
                font-size: $font-size;
                line-height: 26px;
                width: 100%;
                background: white;
                margin: 0 0 5px;
                padding: 10px;
                border-radius: 8px;
            
                &[type="tel"]:hover {
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #aaa;
                    border-radius: 8px;
                }
            }

            & input[type="submit"] {
                color: white;
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: $line-height;
                border-radius: 12px;
                background: $color-active;
                box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
                width: 100%;
                margin: 25px 0 0;
                padding: 18px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                cursor:pointer;

                &:hover {
                    background: $color-active-activ;
                }
            }
        }
    }

    @keyframes call-back {
        0% {
            box-shadow: 0 0 0 0 #239cf1, 0 0 0 0 rgba(9, 144, 255, 0.7);
        }
        40% {
            box-shadow: 0 0 0 13.62667px rgba(255, 186, 38, 0), 0 0 0 6.81333px rgba(9, 144, 255, 0.7);
        }
        80% {
            box-shadow: 0 0 0 27.25333px rgba(255, 186, 38, 0), 0 0 0 13.62667px rgba(9, 144, 255, 0);
        }
        100% {
            box-shadow: 0 0 0 34.06667px rgba(255, 186, 38, 0), 0 0 0 27.25333px rgba(9, 136, 255, 0);
        }
    } 
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px 5%;
    border-radius: 12px;
    background-color: $color-grey-bg;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

#cross::before,
#cross::after {
    position: absolute;
    content: "";
    top: 0;
    right: 9px;
    cursor: pointer;
    width: 3px;
    height: 20px;
    background-color: $color-accent;
    z-index: 2;
}

#cross::before {
    transform: rotate(45deg);
}

#cross::after {
    transform: rotate(-45deg);
}
//about
.acquaintance {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;

    &__block,
    &__advantages,
    &__icon {
        display: flex;
        flex-direction: column;
    }

    &__info {
        padding: 30px 0;
        color: black;
        font-size: 19px;
        line-height: 30px;
    }

    &__advantages {
        gap: 40px;
        padding-left: 30px;
        border-left: 4px solid $color-grey-separator;
    }

    &__icon {
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        p {
            font-size: 36px;
        }
    }

    &__text {
        color: $color-main;
    }
}

.picture-team {
    background: url(../images/Team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__text {
        color: white;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 13px;
        text-transform: uppercase;
        opacity: 0.8;
        padding: 35px;
        line-height: $line-height;
    }
}

.competence {
    &__block {
        flex-direction: column-reverse;
        padding-bottom: 60px;
    }
}

.achievements {
    background: $color-grey-bg;
    padding-top: 30px;
    padding-bottom: 76px;
    position: relative;

    &__heading {
        padding-bottom: 30px;
    }

    &__block {
        overflow: hidden;
        width: 100%;
    }

    &__slider {
        width: 600%;
        display: flex;
        line-height: 0;

        input[name="block"] {
            position: absolute;
            visibility: hidden;
        }

        & label {
            position: absolute;
            left: 46%;
            top: 85%;
            transform: translate(-50%, -50%);
            display: flex;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #24A3FF;
            opacity: 0.2;
            cursor: pointer;
            transition: all .4s ease-in-out;
        }

        #btn1 {
            left: 30%;
        }
        #btn2 {
            left: 38%;
        }
        #btn4 {
            left: 54%;
        }
        #btn5 {
            left: 62%;
        }
        #btn6 {
            left: 70%;
        }

        #block1:checked ~ #btn1,
        #block2:checked ~ #btn2,
        #block3:checked ~ #btn3,
        #block4:checked ~ #btn4,
        #block5:checked ~ #btn5,
        #block6:checked ~ #btn6 {
            opacity: 1;
        }

        #block2:checked ~ .s1 {
        margin-left: -16.66%;
        }

        #block3:checked ~ .s1 {
        margin-left: -33.32%;
        }

        #block4:checked ~ .s1 {
        margin-left: -49.98%;
        }

        #block5:checked ~ .s1 {
        margin-left: -66.64%;
        }

        #block6:checked ~ .s1 {
        margin-left: -83.3%;
        }
    }

    &__item {
        display: none;
    }

    &__picture {
        width: 16.67%;
        background: white;
        border-radius: 12px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
//contact
.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;

    .contact,
    .block-form {
        display: flex;
        flex-direction: column;

        &__phone,
        &__email,
        &__address {
            color: $color-main;
            font-size: 21px;
            line-height: 30px;
        }

        &__address {
            padding-bottom: 30px;
            border-bottom: 4px solid $color-grey-separator;
            color: $color-main-alt;
        }
        
        &__communication,
        &__social {
            display: flex;
            padding-top: 30px;
        }

        &__communication {
            flex-direction: column;
            gap: 15px;
            padding-bottom: 30px;
            border-bottom: 4px solid $color-grey-separator;
        }

        &__email {
            color: $color-active;
        }
        
        &__phone:hover ,
        &__email:hover {
            color: $color-active-activ;
            font-weight: 500;
        }

        &__social {
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover > * {
            color: $color-accent;
            }
        }

        &__facebook,
        &__info {
            color: $color-active;
        }

        &__facebook {
            font-size: 38px;
        }

        &__info {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .block-form {
        margin-top: 30px;
        padding: 30px;
        background-color: $color-grey-bg;
        border-radius: 12px;
        gap: 30px;

        .contact-form {
            &__heading {
                padding-bottom: 30px;
            }

            & input[type="text"],
            & input[type="email"],
            & input[type="tel"],
            & textarea {
                color: $color-grey-text;
                font-family: Montserrat;
                font-size: $font-size;
                line-height: 26px;
                width: 100%;
                background: white;
                margin: 0 0 5px;
                padding: 10px;
                border-radius: 8px;

                &[type="text"]:hover,
                &[type="email"]:hover,
                &[type="tel"]:hover,
                &:hover {
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #aaa;
                    border-radius: 8px;
                }
            }

            & input[type="submit"] {
                color: white;
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: $line-height;
                border-radius: 12px;
                background: $color-active;
                box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
                width: 100%;
                margin: 25px 0 0;
                padding: 18px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                cursor:pointer;

                &:hover {
                    background: $color-active-activ;
                }
            }

            & textarea {
                resize: none;
            }

            & p {
                margin: 0 0 10px;
                min-width: 100%;
                padding: 0;
                width: 100%;
            }

            &__title {
                padding-top: 30px;
                padding-bottom: 15px;
                color: $color-grey-text;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .team {
        .slider-container {
            .slider {
                #btn1 {
                    left: 46%;
                }
                #btn3 {
                    left: 54%;
                }
            }
        }
    }


    .clients {
        &__logo {
            display: none;
        }

        &__logo--special {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);

            img {
                width: 100%;
            }
        }
    }
    
    .blog {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
    
            :nth-child(1){
                grid-area: 1 / 1 / 2 / 2;
            }
            :nth-child(2) {
                grid-area: 1 / 2 / 2 / 3;
            }
            :nth-child(3) {
                grid-area: 2 / 1 / 3 / 3; 
            }
        }
    }

    .acquaintance {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .picture-team {
        &__text {
            padding: 89px 35px;
            font-size: 46px;
        }
    }

    .competence {
        &__block {
            padding-top: 60px;
        }
    
        &__info {
            padding-top: 0;
        }
    }

    .achievements {
        &__slider {
            width: 300%;

            .mobile{
                display: none;
            }
    
            & label {
                left: 54%;
            }
    
            #btn1 {
                left: 46%;
            }

            #btn2 {
                left: 50%;
            }

            #btn4,
            #btn5,
            #btn6 {
                display: none;
            }
    
            #block1:checked ~ .s1 {
            margin-left: 2px;
            }
    
            #block2:checked ~ .s1 {
            margin-left: -33.3%;
            }
    
            #block3:checked ~ .s1 {
            margin-left: -66.6%;
            }
        }
    
        &__item {
            display: flex;
            width: 33.3%;
            align-items: center;
            gap: 40px;
            padding: 0 5px;
        }
    
        &__picture {
            width: 25%;
            min-height: 90px;
            background: white;

            &--spesial {
                width: 53.3px;
            }
        }
    }

    .wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .block-form {
        margin-top: 60px;
        
        .contact-form {
            &__heading {
                font-size: 30px;
            }
        }
    }

    .box {
        .call-back {
            position: fixed;
            right: 30px;
            bottom: 50px;
            width: 70px;
            height: 70px;
        }
    }

    .box {
        .footer-popup {
            &__heading {
                font-size: 32px;
            }
        }
    }

    #popup {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {

    .team {
        .slider-container {
            .slider { 
                #btn1 {
                    left: 47%;
                }

                #btn3 {
                    left: 53%;
                }

                .team-block {
                    flex-direction: row;
            
                    &__img {
                        border-radius: 8px 0 0 8px;
                        width: 40%;
                        height: 528px;
                    }
        
                    &__info {
                        width: 60%;
                    }
            
                    &__text {
                        font-size: 38px;
                        line-height: 46px;
                    }
                }
            }
        }
    }

    .clients {
        &__logo--special {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    .blog {
        &__heading {
            padding-bottom: 30px;
        }
        
        &__content {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            padding-top: 0;
        }

        &__item {
            width: 31%;
        }
    }

    .acquaintance {
        flex-direction: row;

        &__block {
            width: 57%;
            padding-right: 30px;
        }

        &__info {
            padding-bottom: 0;
        }

        &__advantages {
            width: 43%;
        }
    }

    .competence {
        &__block {
            flex-direction: row-reverse;
            gap: 60px;
            width: 100%;
            padding-right: 0;
        }

        &__heading {
            width: 43%;
        }

        &__info {
            width: 57%;
        }
    }

    .achievements {
        &__slider {
            & label {
                left: 53%;
            }
    
            #btn1 {
                left: 47%;
            }
        }
    
        &__picture {
            min-height: 110px;

            &--spesial {
                width: 80px;
            }
        }
    }

    .picture-team {
        &__text {
            padding-top: 103px;
            padding-bottom: 103px;
            font-size: 86px;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        gap: 60px;

        .contact {
            width: 50.3%;
        }

        .block-form {
            margin-top: 0;
            width: 49.7%;
        }
    }
}

@media screen and (min-width: 1440px) {

    .team {
        .slider-container {
            .slider { 
                #btn1 {
                    left: 48%;
                }

                #btn3 {
                    left: 52%;
                }
                
                .team-block {

                    &__img {
                        width: 30%;
                        height: 344px;
                    }
            
                    &__info {
                        width: 70%;
                    }
                }
            }
        }
    }

    .acquaintance {
        padding: 60px 180px;

        &__block {
            width: 64%;
        }

        &__advantages {
            width: 36%;
        }
    }

    .picture-team {
        &__text {
            padding-top: 163px;
            padding-bottom: 163px;
            font-size: 96px;
        }
    }

    .competence {
    padding: 0 180px;
        
        &__block {
            width: 100%;
        }

        &__heading {
            width: 36%;
        }

        &__info {
            width: 64%;
        }
    }

    .achievements {
        &__slider {
            & label {
                left: 52%;
            }
    
            #btn1 {
                left: 48%;
            }
        }
    }

    .wrapper {
        padding: 60px 180px;
    }
}

@media screen and (min-width: 1920px) {

    .clients {
        padding: 0 100px 60px;

        &__logo--special {
            border-radius: 8px;
            overflow: hidden;
        }
    }

    .picture-team {
        &__text {
            padding-top: 236px;
            padding-bottom: 231px;
            font-size: 96px;
        }
    }

    .competence {
        padding: 0 280px;
    
            &__heading {
                width: 28%;
            }
    
            &__info {
                width: 72%;
            }
        }

        .wrapper {
            padding: 60px 280px;
        }
}